*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* 2.ESTILOS GERAIS PARA PÁGINA */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
    color: #333;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.recipe-card {
    width: 350px;
    background-color: #ffffff;
    border-radius: 15px;
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.recipe-image {
    width: 100%;
    display: block; 
}

.recipe-content {
    padding: 25px;
}

.recipe-title {
    font-size: 1.5rem; /* 24px */
    color: #4a4a4a;
    margin-top: 0;
    margin-bottom: 10px;
}

.recipe-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
    margin-bottom: 0;

}
